.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-main);
  padding: 0.5rem 1.5rem;

  .navLink {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    position: relative;
  }

  :global(.active)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    display: block;
  }
}
