.competitionsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 4rem;
  margin-top: 1rem;

  @media (max-width: 768px) {
    gap: 0.75rem;
  }

  @media (max-width: 414px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-height: 414px) and (orientation: landscape) {
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1.2rem;
  }
}
